<html xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">

<f:be.pageRenderer
        includeJavaScriptModules="{
        0: '@lemming/all-mails-to-me/all-mails-to-me-toolbar.js'
    }"
/>
<a href="#"
        type="button"
        class="toolbar-item-link"
        id="all-mails-to-me"
        data-is-enabled="{isEnabled}"
        data-title="{f:translate(key: 'LLL:EXT:allmailstome/Resources/Private/Language/locallang_be.xlf:description')}"
        data-state-enabled="{f:translate(key: 'LLL:EXT:allmailstome/Resources/Private/Language/locallang_be.xlf:state.enabled')}"
        data-state-disabled="{f:translate(key: 'LLL:EXT:allmailstome/Resources/Private/Language/locallang_be.xlf:state.disabled')}"
>
    <span class="toolbar-item-icon">
        <core:icon identifier="actions-envelope" state="{iconState}"/>
    </span>
</a>

</html>